@use "../../styles" as *;

.sign-in {
  display: flex;
  align-items: center;
  height: 100%;
}

.sign-in__form {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 30px;
  box-shadow: $main-box-shadow;
  border: 15px solid $second-color;
  margin-bottom: 30px;
}

.sign-in__switch {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;

  a {
    color: $second-color !important;
  }
}
