.profile__form-buttons {
  display: flex;
  gap: 20px;
}

.profile__error {
  margin-bottom: 20px;
  color: #ea4335;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
}
