@use "../../styles" as *;

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: $main-color;
  box-shadow: $main-box-shadow;
  border-radius: 15px;

  &__item {
    min-width: 400px !important;
    min-height: 600px;
  }
}
