@use "../../styles" as *;

.sign-up {
  display: flex;
  align-items: center;
  height: 100%;
}

.sign-up__form {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 30px;
  border: 15px solid $main-color;
  margin-top: 150px;
  margin-bottom: 30px;

  label {
    color: #727472 !important;
  }
}

.sign-up__switch {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;

  a {
    color: $second-color !important;
  }
}