@use "./styles" as *;
/* stylelint-disable no-invalid-position-at-import-rule */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&family=Squada+One&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  height: 100%;
  font-family: $main-font !important;
  margin: 0 !important;
  color: $text-color;
  background-color: $bg-color !important;
}

h1,
h2,
h3 {
  font-family: $second-font !important;
  color: $main-color;
  text-transform: uppercase;
}

a {
  color: $main-color !important;
  text-decoration: none !important;
}

@media (hover: hover) {
  a:hover {
    color: $second-color !important;
  }
}

button,
input {
  outline: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100% !important;
}

html {
  min-height: calc(100% - 100px);
}

#root {
  height: 100%;
}

.navbar.bg-dark {
  background-color: #303464 !important;
}

.card {
  width: 100%;
}

.app {
  text-align: center;
}

p,
p:hover {
  color: #727472 !important;
}

.app__container {
  min-height: 100%;
  height: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 40px 0;

  & .page-item .page-link {
    color: $bg-color;
  }

  & .page-item.active .page-link {
    z-index: 3;
    color: $bg-color;
    background-color: $main-color;
    border-color: $main-color;
  }
}

.btn.btn-primary {
  color: $bg-color !important;
  background-color: $main-color !important;
  border: none !important;
  box-shadow: $main-box-shadow;

  &:hover, &:active {
    color: $second-color;
    background-color: $main-color;
  }
}

.form-check.form-switch .form-check-input:checked {
  background-color: $main-color;
  border-color: $main-color;
}
